@import "tailwindcss";

:root {
	--primary: #4f46e5;
	--secondary: #3b82f6;
	--tertiary: #6d28d9;
	--neutral: #64748b;
}

body {
	font-family: "Inter", sans-serif;
}

.label-font {
	font-family: "JetBrains Mono", monospace;
}
